.tittle {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.inline {
    text-align: center;
    
}

.who_am_i {
    font-family: cursive;
}

.about_me {
    text-align: left;
}

.image {
    float: right;
}