body{
    background-color: #333333;
    color: white;
}
.title{
    text-align: center;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;  /* Ensures vertical centering */
    text-align: center;
    gap: 20px;
}

#search{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0;
}